#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#define MOUSE 1
#define SCROLL 2

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&lt {
    quick-tap-ms = <300>;
    flavor = "balanced";
};

/ {
    combos {
        compatible = "zmk,combos";

        layer4_ESC {
            bindings = <&lt2 3 ESC>;
            key-positions = <39 38>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        WE_TAB {
            bindings = <&kp TAB>;
            timeout-ms = <20>;
            key-positions = <1 2>;
        };

        DF_LANG2 {
            bindings = <&kp LANG2>;
            timeout-ms = <20>;
            key-positions = <12 13>;
        };

        JK_LANG1 {
            bindings = <&kp LANG1>;
            timeout-ms = <20>;
            key-positions = <17 18>;
        };

        YU_CUT {
            bindings = <&kp LG(X)>;
            timeout-ms = <20>;
            key-positions = <6 5>;
        };

        HJ_COPY {
            bindings = <&kp LG(C)>;
            timeout-ms = <20>;
            key-positions = <16 17>;
        };

        RT_REDO {
            bindings = <&kp LG(Y)>;
            timeout-ms = <20>;
            key-positions = <4 3>;
        };

        FG_SEL {
            bindings = <&kp LG(A)>;
            timeout-ms = <20>;
            key-positions = <13 14>;
        };

        VB_UNDO {
            bindings = <&kp LG(Z)>;
            timeout-ms = <20>;
            key-positions = <25 24>;
        };

        NM_PASTE {
            bindings = <&kp RG(V)>;
            timeout-ms = <20>;
            key-positions = <28 29>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        scroll_up_down: mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

            tap-ms = <20>;
        };

        scroll_right_left: mouse_wheel_right_left {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_LEFT>, <&msc SCRL_RIGHT>;

            tap-ms = <20>;
        };

        mt2: mod_tap2 {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };

        lt2: layer_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&kp>;

            hold-while-undecided;
            display-name = "Layer-Tap";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q     &kp W  &kp E      &kp R     &kp T                                                   &kp Y                   &kp U  &kp I      &kp O    &kp P
&kp A     &kp S  &kp D      &kp F     &kp G                                    &kp F13        &kp H                   &kp J  &kp K      &kp L    &kp SEMICOLON
&kp Z     &kp X  &kp C      &kp V     &kp B                       &kp F14      &kp RS(SLASH)  &kp N                   &kp M  &kp COMMA  &kp DOT  &kp SLASH
&kp LGUI  &none  &kp LSHFT  &kp LALT  &lt_to_layer_0 3 BACKSPACE  &kp SPACE    &kp RCTRL      &lt_to_layer_0 4 ENTER                             &kp PRINTSCREEN
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans           &trans     &trans     &trans       &trans
&trans  &trans  &trans  &trans  &trans            &trans  &kp RC(RS(TAB))  &mkp LCLK  &mkp RCLK  &kp RC(TAB)  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans           &mkp MCLK  &mo 2      &trans       &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                                              &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        LOWER {
            bindings = <
&kp ESC  &kp F2   &kp F3  &kp F4  &kp F5                                &kp N1     &kp N2     &kp N3            &kp N4     &kp N5
&kp F6   &kp F7   &kp F8  &kp F9  &kp F10            &trans             &kp N6     &kp N7     &kp N8            &kp N9     &kp N0
&kp F11  &kp F12  &trans  &trans  &trans   &trans    &kp RS(BACKSLASH)  &kp MINUS  &kp EQUAL  &kp SINGLE_QUOTE  &kp GRAVE  &kp BACKSLASH
&trans   &trans   &trans  &trans  &trans   &trans    &trans             &trans                                             &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        RAISE {
            bindings = <
&kp ESC  &trans  &kp LBKT              &kp RBKT               &trans                               &kp HOME   &kp RC(PG_UP)  &kp RC(PG_DN)     &kp END    &kp DEL
&trans   &trans  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans            &trans             &kp LEFT   &kp DOWN       &kp UP            &kp RIGHT  &trans
&trans   &trans  &kp LEFT_BRACE        &kp RIGHT_BRACE        &trans  &trans    &kp RS(BACKSLASH)  &kp MINUS  &kp EQUAL      &kp SINGLE_QUOTE  &kp GRAVE  &kp BACKSLASH
&trans   &trans  &trans                &trans                 &trans  &trans    &trans             &trans                                                 &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        ADJUST {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &out OUT_TOG  &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3
&trans  &trans  &trans  &trans  &trans            &trans  &bt BT_CLR    &bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 2  &bt BT_DISC 3
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans        &trans         &trans         &trans         &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                                                     &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        Adjust {
            if-layers = <3 4>;
            then-layer = <5>;
        };
    };
};
